In [1]:
import pandas as pd

In [2]:
census_path = '/home/chb3333/yulab/chb3333/gem-patho/data_extraction/cancer_list_selection/Census_allTue Mar 18 18_48_30 2025.tsv'
intogen_path = '/home/chb3333/yulab/chb3333/gem-patho/data_extraction/cancer_list_selection/IntOGen-DriverGenes.tsv'
oncokb_path = '/home/chb3333/yulab/chb3333/gem-patho/data_extraction/cancer_list_selection/OncoKB_cancerGeneList.tsv'

In [17]:
census_tsv = pd.read_csv(census_path, sep='\t').iloc[:, :1]
intogen_tsv = pd.read_csv(intogen_path, sep='\t').iloc[:, :1]
oncokb_tsv = pd.read_csv(oncokb_path, sep='\t').iloc[:, :1]

In [21]:
df_census = census_tsv[[census_tsv.columns[0]]].rename(columns={census_tsv.columns[0]: "Gene Symbol"})
df_intogen = intogen_tsv[[intogen_tsv.columns[0]]].rename(columns={intogen_tsv.columns[0]: "Gene Symbol"})
df_oncokb = oncokb_tsv[[oncokb_tsv.columns[0]]].rename(columns={oncokb_tsv.columns[0]: "Gene Symbol"})

In [25]:
stacked_genes = pd.concat([df_census, df_intogen, df_oncokb], ignore_index=True)

In [ ]:
stacked_genes

     Gene Symbol
0           A1CF
1           ABI1
2           ABL1
3           ABL2
4          ACKR3
...          ...
2562     ZFP36L2
2563       ZNF24
2564      ZNF292
2565      ZNF331
2566      ZNF750

[2567 rows x 1 columns]

In [34]:
combined_genes = stacked_genes.drop_duplicates()

In [37]:
print("Number of genes:", combined_genes.size)

Number of genes: 1398

In [38]:
combined_genes.to_csv("/home/chb3333/yulab/chb3333/gem-patho/data_extraction/cancer_list_selection/combined_genelist.csv")